p{
    text-align: center;
}
i b{
    color: red;
}
body{
    
}
#banner{
    width: 100%;
}
.principal{
    background: #CCCCCC;
    padding: 20px;
}
#mision{
    font-size: 20px;
}
#titulo{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
.items{
    font-style: italic;
}
.diferenciales{
    background: white;
    padding: 30px;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
#diferencial{
    width: 50%;
}